In [2]:
import pandas as pd
import sqlitecloud

In [3]:
df = pd.read_csv(r'D:\Work Experience\DataTalk\Django-backend\datatalkai-assistant\datatalkai-assistant\csvs\fintech_data.csv')

In [4]:
df.head()

,Loan_ID,Customer_ID,Loan_Amount,Interest_Rate,Loan_Type,Approval_Date,Due_Date,Loan_Status,Credit_Score,Default_Prediction,Region,Monthly_Repayment_Amount
0,1,4376,14812.89,9.89,Student Loan,2020-01-01,2021-01-01,Rejected,740,Medium,Rural,643.30
1,2,1304,8678.41,9.42,Auto Loan,2020-01-02,2021-01-02,Approved,367,Medium,Rural,1133.84
2,3,4503,9545.01,2.30,Auto Loan,2020-01-03,2021-01-03,Closed,741,Low,Rural,1028.08
3,4,1552,6865.09,4.31,Personal Loan,2020-01-04,2021-01-04,Closed,512,High,Semi-Urban,350.64
4,5,2701,18576.75,10.21,Student Loan,2020-01-05,2021-01-05,Approved,741,High,Urban,1021.73

In [5]:
sqliteConnection = sqlitecloud.connect("sqlitecloud://ctqws9lknk.sqlite.cloud:8860/db.sqlite?apikey=1TBBTbRsWbzMtiEoz7MA2VQ7b0TL6JD2ZJysGFXiXpI")

In [ ]:
df.to_sql('finance', sqliteConnection, if_exists='replace', index=False)

C:\Users\ravik\AppData\Local\Temp\ipykernel_30064\2883291809.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df.to_sql('finance', sqliteConnection, if_exists='replace', index=False)

In [38]:
sqliteConnection.close()

In [7]:
# Step 1: Connect to the SQLite database
sqliteConnection = sqlite3.connect("db/db.sqlite")

# Step 2: Execute a SQL query to get the table names
query = "SELECT name FROM sqlite_master WHERE type='table';"
table_names = pd.read_sql_query(query, sqliteConnection)

# Step 3: Display the table names
print("Tables present in the database:")
print(table_names)
# Close the SQLite connection
sqliteConnection.close()

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table';': file is not a database

In [24]:
# sqliteConnection = sqlite3.connect("db/db.sqlite")
# cursor = sqliteConnection.cursor()

# # Step 3: Specify the name of the table you want to delete
# table_name = 'logistics'  # Replace with your table name

# # Step 4: Execute the DROP TABLE command
# try:
#     cursor.execute(f"DROP TABLE IF EXISTS {table_name};")
#     print(f"Table '{table_name}' deleted successfully.")
# except Exception as e:
#     print(f"An error occurred: {e}")

# # Step 5: Commit the changes and close the connection
# sqliteConnection.commit()  # Optional but good practice
# cursor.close()
# sqliteConnection.close()

Table 'logistics' deleted successfully.